In [1]:
import numpy as np
import pandas as pd

In [2]:
nba = pd.read_csv("combined.csv")
nba

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,AST,PER,TS.,TRB.,AST.,TOV.,USG.,WS,VORP,BPM
0,1961,Allen Iverson,PHI,26,182.88,74.842680,Georgetown,USA,1996,1,...,4.6,24.0,0.518,5.2,23.0,10.0,35.9,11.8,6.1,6.1
1,1783,Jerry Stackhouse,DET,26,198.12,98.883056,North Carolina,USA,1995,1,...,5.1,21.8,0.521,5.2,25.8,12.5,35.2,9.2,5.8,5.1
2,2176,Shaquille O'Neal,LAL,29,215.90,142.881480,Louisiana State,USA,1992,1,...,3.7,30.2,0.574,18.1,18.8,10.5,31.6,14.9,7.1,7.7
3,1882,Kobe Bryant,LAL,22,200.66,95.254320,None,USA,1996,1,...,5.0,24.5,0.552,8.1,23.0,11.1,31.8,11.3,4.7,4.8
4,2124,Vince Carter,TOR,24,198.12,102.058200,North Carolina,USA,1998,1,...,3.9,25.0,0.551,7.9,19.2,8.2,30.7,12.9,7.2,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,1549,Rodrick Rhodes,DAL,26,198.12,102.058200,Southern California,USA,1997,1,...,0.0,-9.2,0.000,6.7,0.0,40.0,27.6,-0.1,0.0,-14.9
12840,1553,Jason Miskiri,CHH,24,187.96,83.914520,George Mason,USA,Undrafted,Undrafted,...,1.0,-12.4,0.000,0.0,44.9,0.0,14.9,0.0,0.0,-18.6
12841,1708,Derek Hood,CHH,23,203.20,104.326160,Arkansas,USA,Undrafted,Undrafted,...,0.0,-24.2,0.000,14.1,0.0,0.0,33.6,-0.1,0.0,-29.5
12842,1509,Randell Jackson,DAL,24,210.82,97.522280,Florida State,USA,1999,Undrafted,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,-6.3
12843,1353,Mario Bennett,LAC,26,198.12,106.594120,Arizona State,USA,1995,1,...,0.0,-25.5,0.000,37.2,0.0,0.0,44.4,-0.1,0.0,-44.2

In [3]:
print(nba.columns)

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season',
       'normalized_name', 'Player.x', 'Pos.x', 'MP.x', 'Tm.x', 'G.x', 'GS',
       'eFG.', 'X3P', 'X3PA', 'X3P.', 'X3PAr', 'X2P', 'X2PA', 'X2P.', 'FT',
       'FTA', 'FT.', 'PTS', 'TRB', 'AST', 'PER', 'TS.', 'TRB.', 'AST.', 'TOV.',
       'USG.', 'WS', 'VORP', 'BPM'],
      dtype='object')

In [4]:
nba = nba.drop(['Unnamed: 0', 'gp', 'Player.x',
       'player_name', 'PTS', 'TRB', 'AST', 'ts_pct', 'usg_pct',
               'oreb_pct', 'dreb_pct', 'ast_pct', 'team_abbreviation', 'net_rating', 'Tm.x', 'GS', 'BPM', 'VORP', 'WS', 'PER'], axis = 1)

In [5]:
nba

,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,pts,reb,...,X2PA,X2P.,FT,FTA,FT.,TS.,TRB.,AST.,TOV.,USG.
0,26,182.88,74.842680,Georgetown,USA,1996,1,1,31.1,3.8,...,21.2,0.441,8.2,10.1,0.814,0.518,5.2,23.0,10.0,35.9
1,26,198.12,98.883056,North Carolina,USA,1995,1,3,29.8,3.9,...,18.2,0.418,8.3,10.1,0.822,0.521,5.2,25.8,12.5,35.2
2,29,215.90,142.881480,Louisiana State,USA,1992,1,1,28.7,12.7,...,19.2,0.573,6.7,13.1,0.513,0.574,18.1,18.8,10.5,31.6
3,22,200.66,95.254320,None,USA,1996,1,13,28.5,5.9,...,19.3,0.489,7.0,8.2,0.853,0.552,8.1,23.0,11.1,31.8
4,24,198.12,102.058200,North Carolina,USA,1998,1,5,27.6,5.5,...,16.8,0.477,5.1,6.7,0.765,0.551,7.9,19.2,8.2,30.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,26,198.12,102.058200,Southern California,USA,1997,1,24,0.0,1.0,...,3.0,0.000,0.0,0.0,NaN,0.000,6.7,0.0,40.0,27.6
12840,24,187.96,83.914520,George Mason,USA,Undrafted,Undrafted,Undrafted,0.0,0.0,...,0.0,NaN,0.0,0.0,NaN,0.000,0.0,44.9,0.0,14.9
12841,23,203.20,104.326160,Arkansas,USA,Undrafted,Undrafted,Undrafted,0.0,0.5,...,1.5,0.000,0.0,0.0,NaN,0.000,14.1,0.0,0.0,33.6
12842,24,210.82,97.522280,Florida State,USA,1999,Undrafted,Undrafted,0.0,0.0,...,0.0,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,0.0
12843,26,198.12,106.594120,Arizona State,USA,1995,1,27,0.0,2.0,...,3.0,0.000,0.0,0.0,NaN,0.000,37.2,0.0,0.0,44.4

In [6]:
column_to_move = 'normalized_name'

cols = [column_to_move] + [col for col in nba if col != column_to_move]
nba = nba[cols]

In [7]:
nba["Pos.x"] = nba["Pos.x"].str.split("-").str[0]
nba

,normalized_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,pts,...,X2PA,X2P.,FT,FTA,FT.,TS.,TRB.,AST.,TOV.,USG.
0,Allen Iverson,26,182.88,74.842680,Georgetown,USA,1996,1,1,31.1,...,21.2,0.441,8.2,10.1,0.814,0.518,5.2,23.0,10.0,35.9
1,Jerry Stackhouse,26,198.12,98.883056,North Carolina,USA,1995,1,3,29.8,...,18.2,0.418,8.3,10.1,0.822,0.521,5.2,25.8,12.5,35.2
2,Shaquille O'Neal,29,215.90,142.881480,Louisiana State,USA,1992,1,1,28.7,...,19.2,0.573,6.7,13.1,0.513,0.574,18.1,18.8,10.5,31.6
3,Kobe Bryant,22,200.66,95.254320,None,USA,1996,1,13,28.5,...,19.3,0.489,7.0,8.2,0.853,0.552,8.1,23.0,11.1,31.8
4,Vince Carter,24,198.12,102.058200,North Carolina,USA,1998,1,5,27.6,...,16.8,0.477,5.1,6.7,0.765,0.551,7.9,19.2,8.2,30.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,Rodrick Rhodes,26,198.12,102.058200,Southern California,USA,1997,1,24,0.0,...,3.0,0.000,0.0,0.0,NaN,0.000,6.7,0.0,40.0,27.6
12840,Jason Miskiri,24,187.96,83.914520,George Mason,USA,Undrafted,Undrafted,Undrafted,0.0,...,0.0,NaN,0.0,0.0,NaN,0.000,0.0,44.9,0.0,14.9
12841,Derek Hood,23,203.20,104.326160,Arkansas,USA,Undrafted,Undrafted,Undrafted,0.0,...,1.5,0.000,0.0,0.0,NaN,0.000,14.1,0.0,0.0,33.6
12842,Randell Jackson,24,210.82,97.522280,Florida State,USA,1999,Undrafted,Undrafted,0.0,...,0.0,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,0.0
12843,Mario Bennett,26,198.12,106.594120,Arizona State,USA,1995,1,27,0.0,...,3.0,0.000,0.0,0.0,NaN,0.000,37.2,0.0,0.0,44.4

In [8]:
nba = nba.fillna(0)

In [9]:
marcus_williams_data = nba[nba['normalized_name'] == 'Marcus Williams']
marcus_williams_data

,normalized_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,pts,...,X2PA,X2P.,FT,FTA,FT.,TS.,TRB.,AST.,TOV.,USG.
2891,Marcus Williams,21,190.50,92.986360,Connecticut,USA,2006,1,22,6.8,...,4.6,0.446,0.9,1.1,0.847,0.474,7.3,34.4,20.1,25.0
3377,Marcus Williams,21,200.66,93.893544,Arizona,USA,2007,2,33,0.9,...,2.8,0.377,0.7,0.9,0.787,0.499,6.9,27.8,19.3,20.8
3379,Marcus Williams,22,190.50,92.986360,Connecticut,USA,2006,1,22,5.9,...,2.8,0.377,0.7,0.9,0.787,0.499,6.9,27.8,19.3,20.8
4006,Marcus Williams,22,200.66,93.893544,Arizona,USA,2007,2,33,2.0,...,1.2,0.182,0.2,0.7,0.333,0.305,4.0,32.6,16.9,18.7
4007,Marcus Williams,23,190.50,95.254320,Connecticut,USA,2006,1,22,1.3,...,1.2,0.182,0.2,0.7,0.333,0.305,4.0,32.6,16.9,18.7
4341,Marcus Williams,24,190.50,92.986360,Connecticut,USA,2006,1,22,4.3,...,3.1,0.421,0.6,0.9,0.673,0.456,6.2,26.7,20.0,18.5

In [10]:
nba = nba.drop(index=[3377, 4006])

nba.reset_index(drop=True, inplace=True)
nba

,normalized_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,pts,...,X2PA,X2P.,FT,FTA,FT.,TS.,TRB.,AST.,TOV.,USG.
0,Allen Iverson,26,182.88,74.842680,Georgetown,USA,1996,1,1,31.1,...,21.2,0.441,8.2,10.1,0.814,0.518,5.2,23.0,10.0,35.9
1,Jerry Stackhouse,26,198.12,98.883056,North Carolina,USA,1995,1,3,29.8,...,18.2,0.418,8.3,10.1,0.822,0.521,5.2,25.8,12.5,35.2
2,Shaquille O'Neal,29,215.90,142.881480,Louisiana State,USA,1992,1,1,28.7,...,19.2,0.573,6.7,13.1,0.513,0.574,18.1,18.8,10.5,31.6
3,Kobe Bryant,22,200.66,95.254320,None,USA,1996,1,13,28.5,...,19.3,0.489,7.0,8.2,0.853,0.552,8.1,23.0,11.1,31.8
4,Vince Carter,24,198.12,102.058200,North Carolina,USA,1998,1,5,27.6,...,16.8,0.477,5.1,6.7,0.765,0.551,7.9,19.2,8.2,30.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12837,Rodrick Rhodes,26,198.12,102.058200,Southern California,USA,1997,1,24,0.0,...,3.0,0.000,0.0,0.0,0.000,0.000,6.7,0.0,40.0,27.6
12838,Jason Miskiri,24,187.96,83.914520,George Mason,USA,Undrafted,Undrafted,Undrafted,0.0,...,0.0,0.000,0.0,0.0,0.000,0.000,0.0,44.9,0.0,14.9
12839,Derek Hood,23,203.20,104.326160,Arkansas,USA,Undrafted,Undrafted,Undrafted,0.0,...,1.5,0.000,0.0,0.0,0.000,0.000,14.1,0.0,0.0,33.6
12840,Randell Jackson,24,210.82,97.522280,Florida State,USA,1999,Undrafted,Undrafted,0.0,...,0.0,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.0,0.0
12841,Mario Bennett,26,198.12,106.594120,Arizona State,USA,1995,1,27,0.0,...,3.0,0.000,0.0,0.0,0.000,0.000,37.2,0.0,0.0,44.4

In [11]:
nba["country"] = nba["country"].replace("Serbia and Montenegro", "Serbia")
nba

,normalized_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,pts,...,X2PA,X2P.,FT,FTA,FT.,TS.,TRB.,AST.,TOV.,USG.
0,Allen Iverson,26,182.88,74.842680,Georgetown,USA,1996,1,1,31.1,...,21.2,0.441,8.2,10.1,0.814,0.518,5.2,23.0,10.0,35.9
1,Jerry Stackhouse,26,198.12,98.883056,North Carolina,USA,1995,1,3,29.8,...,18.2,0.418,8.3,10.1,0.822,0.521,5.2,25.8,12.5,35.2
2,Shaquille O'Neal,29,215.90,142.881480,Louisiana State,USA,1992,1,1,28.7,...,19.2,0.573,6.7,13.1,0.513,0.574,18.1,18.8,10.5,31.6
3,Kobe Bryant,22,200.66,95.254320,None,USA,1996,1,13,28.5,...,19.3,0.489,7.0,8.2,0.853,0.552,8.1,23.0,11.1,31.8
4,Vince Carter,24,198.12,102.058200,North Carolina,USA,1998,1,5,27.6,...,16.8,0.477,5.1,6.7,0.765,0.551,7.9,19.2,8.2,30.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12837,Rodrick Rhodes,26,198.12,102.058200,Southern California,USA,1997,1,24,0.0,...,3.0,0.000,0.0,0.0,0.000,0.000,6.7,0.0,40.0,27.6
12838,Jason Miskiri,24,187.96,83.914520,George Mason,USA,Undrafted,Undrafted,Undrafted,0.0,...,0.0,0.000,0.0,0.0,0.000,0.000,0.0,44.9,0.0,14.9
12839,Derek Hood,23,203.20,104.326160,Arkansas,USA,Undrafted,Undrafted,Undrafted,0.0,...,1.5,0.000,0.0,0.0,0.000,0.000,14.1,0.0,0.0,33.6
12840,Randell Jackson,24,210.82,97.522280,Florida State,USA,1999,Undrafted,Undrafted,0.0,...,0.0,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.0,0.0
12841,Mario Bennett,26,198.12,106.594120,Arizona State,USA,1995,1,27,0.0,...,3.0,0.000,0.0,0.0,0.000,0.000,37.2,0.0,0.0,44.4

In [12]:
nba.to_csv('final_eda.csv', index=False)